
@{
    ViewBag.Title = "E-Burger - Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>

    </div>
    <!-- /.container-fluid-->
</div>

<!-- Custom scripts for this page-->
@section Scripts {
    @Scripts.Render("~/Scripts/AdminDashboard/js/admin-charts.js")
}